/* Cal-HeatMap CSS */

.cal-heatmap-container {
    display: block;
}

.graph
{
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.graph-label
{
    fill: #999;
    font-size: 14px
}

.graph, .graph-legend rect {
    shape-rendering: crispedges;
}

.graph-rect
{
    fill: #262626
}

.graph-subdomain-group rect:hover
{
    stroke: #0080FF;
    stroke-width: 2px
}

.subdomain-text {
    font-size: 12px;
    fill: #555;
    pointer-events: none
}

.hover_cursor:hover {
    cursor: pointer
}

.qi {
    background-color: #999;
    fill: #999
}

/*
Remove comment to apply this style to date with value equal to 0
.q0
{
    background-color: #fff;
    fill: #fff;
    stroke: #ededed
}
*/

.q1
{
    background-color: #d1e9ff;
    fill: #d1e9ff
}

.q2
{
    background-color: #bedfff;
    fill: #bedfff
}

.q3
{
    background-color: #99ccff;
    fill: #99ccff
}

.q4
{
    background-color: #76b7ff;
    fill: #76b7ff
}

.q5
{
    background-color: #0080ff;
    fill: #0080ff
}

rect.highlight
{
    stroke:#444;
    stroke-width:1
}

text.highlight
{
    fill: #444
}

rect.now
{
    stroke: #8258FA;
    stroke-width:2
}

text.now
{
    font-weight: 800
}

.domain-background {
    fill: none;
    shape-rendering: crispedges
}

.ch-tooltip {
    padding: 10px;
    background: #222;
    color: #bbb;
    font-size: 12px;
    line-height: 1.4;
    width: 140px;
    position: absolute;
    z-index: 99999;
    text-align: center;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: none;
    box-sizing: border-box;
}

.ch-tooltip::after{
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content: "";
    padding: 0;
    display: "block";
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: #222;
}
