body{
    color:#999;
    background-color:#404040 !important;
}

body a{
    color:#999;
}

body a:hover{
    color:#FFF;
}

body ul {
    list-style:none;
    margin:0;
}

/*layout*/
.layout-topbar {
    height: 70px;
    background-color: #252525;
    margin-bottom:30px;
}

.layout-topbar-title > div:first-child {
    padding-top:5px !important;
    font-size:24px;
    /*font-weight:bold;*/
    color:#FFF;
}

.layout-topbar-menu {
    font-size:18px;
    padding-top:22px !important;
    text-align:center;
    height:100% !important;
    color:#999;
}

.layout-topbar-menu:hover, .layout-topbar-menu.actived {
    color:#FFF;
}

.layout-topbar-menu:hover:after,.layout-topbar-menu.actived:after {
    content:'';
    height:3px;
    display:block;
    background-color: #448ACF;
    position:relative;
    top:18px;
}

.layout-topbar-search {
    height:100% !important;
    padding-top:15px;
    color:#000;
}

.layout-topbar-search input {
    height:36px;
    width:220px;
}

.layout-topbar-search-result{
    border:0;
    padding:0;
    width:220px;
}

.layout-topbar-search-result ul{
    border:1px solid #fff;
    background-color:#262626;
    color:#999;
    padding: 10 0 5px 5px;
    max-height:180px;
    overflow:auto;
}
.layout-topbar-search-result a{
    padding-left:5px;
}
.layout-topbar-search-result  a > span{
    margin-left:25px;
}

.layout-topbar-wx {
    padding-top:22px;
}

.layout-footer {
    height: 100px;
    background-color: #252525;
    color:#999;
    margin-top:40px;
}

/*index*/
.index-cal-body{
    height: 300px;
    margin-top: 10px;
    background-color:#262626;
}

.index-cal-arrow-body {
    height:100%;
    padding-top:115px;
}

.index-cal-arrow-body img{
    height:60px;
    width:20px;
}

.index-cal-selector {
    text-align:center;
    background-color:#262626;
    height:70px;
    margin-top:20px;
    padding:5px 0 5px 0;
}

.index-cal-selector img{
    width:20px;
    height:60px;
}

.index-cal-selector-title {
    margin-top:9px;
    color:#999;
    cursor:pointer;
}

.index-cal-selector-title:hover, .index-cal-selector-title.actived {
    color:#FFF;
}

.index-cal-selector-title:hover:after, .index-cal-selector-title.actived:after {
    content:'';
    height:3px;
    display:block;
    background-color: #448ACF;
    position:relative;
    top:5px;
}

.index-industry-seletor{
    margin-top:20px;
    height:30px;
    background-color:#262626;
    color:#999;
    padding-top:3px;
}

.index-industry-list {
    background-color:#262626;
    color:#999;
    width:130px;
    max-height:180px;
    overflow:auto;
    padding: 10px 0 5px 0;
}

.index-industry-list ul {
    list-style:none;
    margin:0;
}

.index-industry-list li{
    padding-left:10px;
    cursor:pointer;
}

.index-industry-list li:hover{
    color:#FFF;
}

.index-industry-list-title{
    color:#FFF;
    cursor:pointer;
}

.index-table-block{
    margin-top:20px;
}

.index-table-list {
    width:100%;
}

.index-table-loading {
    width:100%;
    height:300px;
    background-color:#262626;
    position:relative;
    filter:alpha(opacity=70);  
    -moz-opacity:0.7;  
    -khtml-opacity: 0.7;  
    opacity: 0.7; 
}

.index-table-list td, .index-table-list th {
    padding-right:10px;
    padding-left:5px;
    height: 30px;
    font-weight: normal;
    text-align:right;
}

.index-table-list td.green{
    color:#094;
}

.index-table-list td.red{
    color:#e00;
}

.index-table-list tr.odd, .index-table-list tr:nth-of-type(2n+1) {
    background-color: #262626 !important;
}
.index-table-list tr.even, .index-table-list tr:nth-of-type(2n) {
    background-color: #2C2C2C !important;
}

.index-table-list td:nth-child(2),  
.index-table-list td:nth-child(5),
.index-table-list td:nth-child(7) { 
    border: 1px solid #555;
    border-width: 0 1px 0 0;
}

.index-table-list th:nth-child(2),  
.index-table-list th:nth-child(5),
.index-table-list th:nth-child(7) {
    border: 1px solid #555;
    border-width: 0 1px 1px 0;
}
 
.index-table-list th {
    border:1px solid #555;
    border-width: 0 0 1px 0;
    font-weight:bold;
}
/*company-index*/

.company-industry-table1 {
    background-color:#262626;
    width:100%;
}

.company-industry-table2 {
    background-color:#262626;
    width:100%;
    margin-top:30px;
}

.company-industry-table1 th,.company-industry-table2 th {
    font-weight:normal;
    padding: 5px 0;
    color:#555;
}

.company-industry-table1 td, .company-industry-table2 td {
    vertical-align:top;
    border: 1px solid #555;
    border-width: 0 0 0 0;
    padding:15px 0 10px 15px;
}

.company-industry-table1 td .iTitle, .company-industry-table2 td .iTitle{
    color:#FFF;
    font-size:16px;
    font-weight:bold;
}
.company-industry-table1 td a, .company-industry-table2 td a{
    color:#999;
}
.company-industry-table2 td .title-bank {
    margin-top:30px;
}

.company-industry-table1 th:nth-child(1), .company-industry-table1 td:nth-child(1),  
.company-industry-table1 th:nth-child(2), .company-industry-table1 td:nth-child(4) {
    border-right: 1px solid #555;
}

/*company-list*/
.company-table-loading {
    width:100%;
    height:400px;
    background-color:#262626;
    position:relative;
    filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5; 
}

.company-list-page {
    margin-top:20px;
}

.company-list-page .pagination a, .company-list-page .pagination .ellipsis {
    color:#999;
}

.company-list-page .pagination a:hover, .company-list-page .pagination .ellipsis:hover {
    background: #262626 none repeat scroll 0 0;
    color:#fff;
}

.company-list-page .pagination .current {
    background: #262626 none repeat scroll 0 0;
    color:#fff;
}

.company-list-page .disabled {
    color:#555;
}

/*company-detail*/
.company-overview-body {
    font-size:13px;
}

.company-overview-body>div:first-child {
    color:#fff;
}

.company-overview-name {
    color:#fff;
    font-size:18px;
    font-weight:bold;
}

.company-overview-code {
    margin-left:4px;
}

.company-overview-title > div:first-child{
    margin-top:12px;
}

.company-overview-title > div > span {
    margin-left:5px;
}

.company-overview-price > span {
    height:20px;
}
.company-overview-price > span:nth-child(1) {
    font-size:18px;
}

.company-overview-price > span:nth-child(2) {
    margin:0 8px 0 8px;
}

.company-overview-price.green {
    color:#094;
}

.company-overview-price.red {
    color:#e00;
}

.company-nav-body {
    background-color:#262626;
    margin-top:10px;
    height:28px;
    padding-top:3px;
}

.company-nav-body span{
    margin:0 5px 0 25px;
    display:inline-block;
    cursor:pointer;
}

.company-nav-body span:hover, .company-nav-body span.actived{
    color:#fff;
}

.company-nav-body span:hover:after, .company-nav-body span.actived:after{
    content:'';
    height:2px;
    display:block;
    clear:both;
    background-color: #448ACF;
    position:relative;
    top:-1px;
}

.company-chart-body {
    margin-top:20px;
}

.company-chart-body > div:first-child {
    text-align:right;
}

.company-chart-body > div {
    width:100%;
}
.company-chart-body > .chart-graph{
    height:300px;
    margin-top:5px;
}

.company-chart-body .chart-type-select.actived{
    color:#FFF;
}

.company-chart-body .chart-type-select:hover {
    color:#FFF;
    cursor:pointer;
}

.company-chart-body .chart-div {
    width:100%;
    overflow-x:auto;
}

.company-chart-body .chart-table {
    min-width:100%;
    white-space:nowrap;
    margin-top:10px;
    font-size:14px;
}
.company-chart-body .chart-table .chart-table-hide{
    font-size:11px;
}

.company-chart-body tr.odd, .company-chart-body tr:nth-of-type(2n+1) {
    background-color: #262626 !important;
}

.company-chart-body tr.even, .company-chart-body tr:nth-of-type(2n) {
    background-color: #2c2c2c !important;
}

.company-chart-body .chart-table th, .company-chart-body .chart-table td {
    text-align:left;
    padding:2px 10px 2px 4px;
}

.company-chart-body .chart-table tr:first-child {
    border:1px solid #555;
    border-width:0 0 1px 0;
}

.company-chart-body .chart-table tr>th:first-child {
    border:1px solid #555;
    border-width:0 1px 0 0;
    width:8%;
}

.company-chart-body .chart-table tr.chart-table-hide>th:first-child {
    padding-left:15px;
}

.company-chart-body .chart-table tr>th:first-child:hover {
    cursor:pointer;
    color:#FFF;
}
/*all*/

.left{
    float:left !important;
}

.right{
    float:right !important;
}

.text-left{
    text-align:left !important;
}


.text-right{
    text-align:right !important;
}

.page-divider {
    border:1px solid #B5B5B5;
    margin-bottom:25px !important;
}

.page-divider-2 {
    border:1px solid #B5B5B5;
    margin-bottom:5px !important;
}

.w20p {
    width:20% !important;
}

.question_mark {
    background-color:#A3A4A7 !important;
    text-align:center;
    display:block;
    width:25px;
    border-radius:25px;
    color:#F8F8F8;
}

.ajax-loader {
    width:64px;
    height:39px;
    top:50%;
    left:50%;
    position:absolute;
    margin:-20px 0 0 -32px;
}

.no-padding {
    padding:0 !important;
}
